// Define variables for your color scheme

// For example:
$red: #C90035;
$blue: #2E9598;
$yellow: #F7DB69;
$orange: #FDCEAA;
$green: #99B898;
$gray: #191919;
$light-gray: #363635;
$shadow-gray: rgba(0,0,0,0.6);

